---
---
@charset "utf-8";

$base-font-family:		Helvetica, sans-serif;
$base-font-size:			16px;

$content-width:				1020px;

$foreground-color:		#222;
$background-color:		#e1e1e1;

$link-color:					#007eff;
$header-border-color:	#444;

@import
	"base"
;
