body {
	font-family: $base-font-family;
	font-size: $base-font-size;

	color: $foreground-color;
	background: $background-color;
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/*h1, h2, h3, h4, h5, h6,*/
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $base-font-family;
}

pre {
	font-family: $mono-font-family;
	font-size: $mono-font-size;
	padding: 8px 12px;
}

code {
	font-family: $mono-font-family;
	font-size: $mono-font-size;
	border: 1px solid #cdcdcd;
	padding: 1px;
}

pre {
	code {
		border: 0;
	}
}

p {
	line-height: 1.5;
}

a {
	color: $link-color;
	text-decoration: none;
}

.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	font-size: 13px;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}

.content {
	margin-top: 20px;
}

.site-title {
	font-family: 'Dotty Shadow', sans-serif;
	font-size: 32px;
	display: inline-block;

	&, &:visited {
		color: $header-fg-color;
	}
}

.site-header {
	padding: 15px 0;
	border-bottom: 1px solid $header-border-color;
	background-color: $header-bg-color;

	.social-list {
		display: inline-block;

		position: relative;
		top: 3px;
	}

	a {
		display: inline-block;
		color: #55acee;
	}
}

.archive-link {
	display: inline-block;
	margin-right: 15px;
}

.post-link {
	font-size: 20px;
}

.site-header-table {
	width: 100%;
}

.right-align {
	text-align: right;
}

.page-link {
	color: $foreground-color;
}

.wrapper {
	width: $content-width;
	margin: 0 auto;
}

.icon {
    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
    }
}

.post-meta {
	font-size: 13px;
}

.post-list {
    margin-left: 0;
    list-style: none;
    h1 {
        margin-bottom: 0;
    }
    > section {
        margin-bottom: 50px;
    }
    &.archive {
        > ul {
            list-style: none;
            margin-left: 0;
            > li {
                margin-bottom: 5px;
                &.year {
                    margin-bottom: 10px;
                    &:not(:first-of-type) {
                        margin-top: 20px;
                    }
                }
                h2 {
                    margin-bottom: 0;
                }
            }
        }
        .post-link {
            display: inline;
            font-size: 20px;
        }
        .post-meta {
            display: inline-block;
            width: 90px;
            margin-bottom: 0;
        }
    }
}
