@font-face {
  font-family: 'NotoSansUI Regular';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/GoogleNoto/NotoSansUI-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'NotoSansUI Bold';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/GoogleNoto/NotoSansUI-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'NotoMoto';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/GoogleNoto/NotoMono-Regular.ttf') format('truetype');
}